.footer {
  background-color: var(--navy-blue);
  text-align: left;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo-footer .logo-accent {
  color: var(--iris);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}